.categories-container{
    background-color: rgb(162, 221, 221);
    padding: 50px;
}

.categories-container .category-container {
    background-color: rgb(240, 164, 154);
    padding: 10px;
}

.categories-container .category-container .category-body-container {
    background-color: rgb(243, 239, 139);
    
}

